#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:100%;
}

/*This makes it so the background doesn't appear in the margins*/
body{
    margin: 0;
    padding: 0;
}
/* for v2
.shopBox{
  position: relative;
  float: right;
  right: 20px;
  bottom: 295px;
  border-radius: 100px;
  border: 10px solid #FFAB51;
  background-color: #8740c5;
  padding: 20px;
  width: 150px;
  height: 40px;
}
*/
header{
  background-color: #204862;
  height: 230px;
}

.navBar{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  position: relative;
  top: 149px;
  font-size:35px;
}

.logo{
  position: relative;
  border: 0px;
  bottom: 138px;
  margin: 0;
  padding: 0;
  width: 30%;
}

/*Gets rid of the underlines on hyperlinks*/
a:link{
  text-decoration: none;
  font-family: 'Francois One', sans-serif;
  color: #eeddee;
}

a:visited{
  color: #eeddee;
}

a:hover{
  color: #ee81ee;
}

main{
  background-image: url("backgroundReal.jpg");
  background-size:cover;
  background-position: center;
}

.emptyTop{
  height: 180px;
}

.emptyBottom{
  height: 400px;
}

footer{
  background-color: #204862;
  height: 140px;
}

.footNav{
  text-align: center;
  justify-content: space-around;
  display: flex;
  position: relative;
  font-size: 35px;
  top: 50px;
}

@media only screen and (max-width: 1024px) {
  header{
    background-color: #204862;
    height: 60px;
  }

  .navBar{
    font-size: 18px;
    top:30px;
  }

  .logo{
    position: relative;
    width: 110px;
    bottom: 28px;
  }


  footer{
    background-color: #204862;
    height: 70px;
  }

  .footNav{
    text-align: center;
    justify-content: space-around;
    display: flex;
    position: relative;
    font-size: 15px;
    top: 25px;
  }

  .emptyTop{
    height: 10vh;
  }

  .emptyBottom{
    height: 20vh;
  }

}
