#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:1425px;
}

/*This makes it so the background doesn't appear in the margins*/
body{
    margin: 0;
    padding: 0;
}

header{
  background-color: #204862;
  height: 230px;
}

.navBar{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 149px;
  font-size: 45px;
}

.leftNav{
  position:relative;
  right: 90px;
}

.rightNav{
  position: relative;
  left: 90px;
}

.logo{
  position: relative;
  border: 0px;
  bottom: 130px;
  margin: 0;
  padding: 0;
}

/*Gets rid of the underlines on hyperlinks*/
a:link{
  text-decoration: none;
  font-family: 'Francois One', sans-serif;
  color: #eeddee;
}

a:visited{
  color: #eeddee;
}

a:hover{
  color: #ee81ee;
}

main{
  background-image: url("background1.png");
  background-size:cover;
  background-position: center;
}

footer{
  background-color: #204862;
  height: 140px;
}

.footNav{
  text-align: center;
  justify-content: space-around;
  display: flex;
  position: relative;
  font-size: 35px;
  top: 50px;
}
